@font-face {
  font-family: "Muller";
  src: local("Muller Regular"), local("MullerRegular"), url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: local("Muller Bold"), local("MullerBold"), url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: local("Muller Medium"), local("MullerMedium"), url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
input::-webkit-calendar-picker-indicator {
  opacity: 1;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Muller";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  color: #000000;
  background: #E5E5E5;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.sections-margin {
  margin-bottom: 70px;
}

.sections-title {
  font-size: 40px;
  line-height: 40px;
  color: #333333;
  margin-bottom: 20px;
  padding-left: 40px;
}

.header__burger {
  width: 40px;
  height: 28px;
  position: relative;
  display: none;
}
.header__burger-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  left: 0;
}
.header__burger-line_first {
  top: 0;
}
.header__burger-line_third {
  bottom: 0;
}
.header__burger-line_second {
  top: 50%;
  transform: translateY(-50%);
}
.header__top {
  padding: 30px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header__logo {
  margin-right: 40px;
}
.header__phone {
  display: inline-block;
  text-decoration: none;
  color: #666666;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  transition: all 0.3s ease;
}
.header__phone:hover {
  color: #CC9933;
}
.header__phone:focus {
  color: #CC9933;
  border: 2px solid #CC9933;
}
.header__phone:active {
  color: #A47312;
}
.header__lk {
  display: inline-block;
  text-decoration: none;
  padding-left: 28px;
  background: url("../img/svg/arrow-1.svg") no-repeat center left;
  color: #CC9933;
  font-size: 16px;
  line-height: 16px;
  margin-left: auto;
  transition: all 0.3s ease;
}
.header__lk:hover {
  color: #F0BF5F;
  background: url("../img/svg/arrow-2.svg") no-repeat center left;
}
.header__lk:focus {
  color: #CC9933;
  border: 2px solid #CC9933;
}
.header__lk:active {
  color: #A47312;
}
.header__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 14px 45px;
  background: #FFFFFF;
  border-radius: 15px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__item {
  margin-right: 45px;
}
.header__item:last-child {
  margin-right: 0px;
}
.header__link {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  transition: all 0.3s ease;
}
.header__link:hover, .header__link:focus, .header__link:active {
  opacity: 0.7;
}
.header__info {
  display: flex;
  flex-wrap: wrap;
}
.header__info-link {
  display: inline-block;
  text-decoration: none;
  padding: 13px 20px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  color: #CC9933;
  line-height: 16px;
  transition: all 0.3s ease;
  margin-right: 40px;
}
.header__info-link:last-child {
  margin-right: 0px;
}
.header__info-link:hover, .header__info-link:focus {
  color: #FFFFFF;
  background: #CC9933;
}
.header__info-link:active {
  color: #FFFFFF;
  background: #A47312;
}

.tours {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
.tours__tour {
  grid-column: span 1;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.tours__tour:hover .tours__pic {
  scale: 1.05;
}
.tours__tour:focus .tours__pic {
  scale: 1.05;
}
.tours__tour:active .tours__pic {
  scale: 1.05;
}
.tours__info {
  position: absolute;
  left: 45px;
  bottom: 40px;
  z-index: 3;
}
.tours__tour-big {
  grid-column: 2/3;
  grid-row: 1/3;
}
.tours__box {
  position: relative;
}
.tours__box:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
  z-index: 2;
  overflow: hidden;
}
.tours__pic {
  object-fit: cover;
  position: relative;
  transition: all 0.3s ease;
}
.tours__pic-small {
  height: 258px;
}
.tours__pic-big {
  height: 540px;
}
.tours__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
}
.tours__title_with-margin {
  margin-bottom: 15px;
}
.tours__title-big {
  max-width: 300px;
  font-size: 60px;
  line-height: 60px;
}
.tours__subtitle {
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.8;
  margin-bottom: 47px;
}
.tours__more {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  color: #F0BF5F;
  padding-right: 15px;
  background: url("../img/svg/arrow-mini.svg") no-repeat center right;
  transition: all 0.3s ease;
}
.tours__more:hover {
  padding-right: 26px;
}
.tours__more:active {
  color: #FFFFFF;
  padding-right: 15px;
}

.about__subtitle {
  max-width: 888px;
  line-height: 200%;
  color: #000000;
}

.services__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
.services__card {
  grid-column: span 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 15px;
}
.services__card-info {
  width: 100%;
  padding: 36px 45px 25px 45px;
}
.services__card-link {
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #CC9933;
  padding-right: 15px;
  transition: all 0.3s ease;
  background: url("../img/svg/arrow-mini-2.svg") no-repeat center right;
}
.services__card-link:hover {
  color: #F0BF5F;
  padding-right: 26px;
  background: url("../img/svg/arrow-mini.svg") no-repeat center right;
}
.services__card-link:active {
  color: #A47312;
  padding-right: 15px;
}
.services__card-text {
  font-size: 16px;
  line-height: 200%;
  color: #000000;
  max-width: 402px;
}
.services__card-pic {
  height: 165px;
  object-fit: cover;
  overflow: hidden;
  transition: all 0.4s ease;
}
.services__card-box {
  overflow: hidden;
}
.services__card-box:hover .services__card-pic {
  scale: 1.05;
}

.advantages__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 22px;
  grid-row-gap: 22px;
}
.advantages__card {
  grid-column: span 1;
  padding: 40px 42px 32px 45px;
  background: #FFFFFF;
  border-radius: 15px;
}
.advantages__card-box {
  margin-bottom: 10px;
}
.advantages__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.hotels {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
.hotels__hotel {
  grid-column: span 2;
  position: relative;
  border-radius: 15px;
}
.hotels__info {
  background: #FFFFFF;
  padding: 32px 45px 45px 45px;
  border-radius: 0px 0px 15px 15px;
}
.hotels__info-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 16px;
}
.hotels__info-price {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.hotels__info-price-1 {
  color: #999999;
  font-size: 16px;
  line-height: 16px;
  margin-right: 4px;
}
.hotels__info-price-2 {
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  margin-right: 4px;
}
.hotels__info-price-3 {
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}
.hotels__info-name {
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 16px;
}
.hotels__info-place {
  font-size: 16px;
  line-height: 16px;
  color: #999999;
  margin-bottom: 20px;
}
.hotels__info-link {
  display: inline-block;
  text-decoration: none;
  padding: 14px 20px;
  color: #CC9933;
  border: 1px solid #CC9933;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.hotels__info-link:hover, .hotels__info-link:focus {
  color: #FFFFFF;
  background: #CC9933;
}
.hotels__info-link:active {
  color: #FFFFFF;
  background: #A47312;
}
.hotels__pic {
  transition: all 0.4s ease;
  object-fit: cover;
}
.hotels__pic_small {
  height: 217px;
}
.hotels__pic_big {
  height: 440px;
}
.hotels__box {
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
}
.hotels__box-big {
  border-radius: 15px;
}
.hotels__box:hover .hotels__pic {
  scale: 1.05;
}
.hotels__more {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #FFFFFF;
  position: absolute;
  left: 54px;
  bottom: 27px;
  padding-right: 15px;
  background: url("../img/svg/arrow-mini-3.svg") no-repeat center right;
}

.want-tour__wrapper {
  padding: 45px;
  background: #E9E9E9;
  border-radius: 15px;
}
.want-tour__title {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 20px;
}

.search-box {
  background: #FFFFFF;
  border-radius: 15px;
  padding: 32px 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.search-box__info {
  margin-right: 41px;
}
.search-box__info:last-child {
  margin-right: 0px;
}
.search-box__label {
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  padding-left: 3px;
  margin-bottom: 15px;
}
.search-box__input {
  border: none;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;
}
.search-box__submit {
  padding: 14px 30px;
  color: #CC9933;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  background: #FFFFFF;
  transition: all 0.4s ease;
}
.search-box__submit:hover, .search-box__submit:focus {
  background: #CC9933;
  color: #FFFFFF;
}
.search-box__submit:active {
  background: #A47312;
  color: #FFFFFF;
}

.contacts-margin {
  margin-bottom: 40px;
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 45px;
  background: #FFFFFF;
  border-radius: 15px;
}
.contacts__info {
  width: 375px;
  margin-right: 52px;
}
.contacts__info-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 23px 0px;
  border-bottom: 2px solid #E9E9E9;
}
.contacts__info-box:nth-last-child(2) {
  margin-bottom: 45px;
}
.contacts__info-box:first-child {
  padding-top: 0;
}
.contacts__info-mail {
  color: #CC9933;
  font-size: 16px;
  line-height: 150%;
}
.contacts__info-phone {
  color: #CC9933;
  font-size: 16px;
  line-height: 150%;
}
.contacts__info-desc {
  font-size: 16px;
  line-height: 150%;
  color: #999999;
}
.contacts__info-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  max-width: 229px;
}
.contacts__info-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}
.contacts__info-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 65%;
}
.contacts__info-button {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  padding: 28px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.contacts__info-button:hover {
  color: #FFFFFF;
  background: #CC9933;
}
.contacts__info-button:focus {
  color: #FFFFFF;
  background: #CC9933;
}
.contacts__info-button:active {
  color: #FFFFFF;
  background: #A47312;
}

.footer__wrapper {
  padding: 45px;
  background: #333333;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  background-image: url(../img/logo-footer.png);
  background-repeat: no-repeat;
  background-position: 75% 100%;
}
.footer-margin {
  margin-bottom: 30px;
}
.footer__info {
  display: flex;
  flex-direction: column;
}
.footer__info-text {
  max-width: 319px;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.footer__info-link {
  display: inline-block;
  text-decoration: none;
  color: #CC9933;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-top: auto;
}
.footer__contacts {
  margin: 0 auto;
}
.footer__contacts-address {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.footer__contacts-box {
  margin-bottom: 15px;
}
.footer__contacts-phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}
.footer__icons {
  margin-left: auto;
}
.footer__icons-icon {
  margin-bottom: 20px;
}
.footer__icons-icon:last-child {
  margin-bottom: 0px;
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .header__item {
    margin-right: 25px;
  }
  .header__info-link {
    margin-right: 20px;
  }
  .advantages__card {
    padding: 30px 32px 22px 35px;
  }
  .hotels__info {
    padding: 32px 35px 25px 35px;
  }
  .hotels__pic_big {
    height: 430px;
  }
  .hotels__info-phone {
    text-align: center;
  }
  .hotels__info-subtitle {
    text-align: center;
  }
  .hotels_info-mail {
    text-align: center;
  }
  .hotels__info-desc {
    text-align: center;
  }
  .hotels__info-box {
    align-items: center;
  }
  .search-box__info {
    margin-right: 0px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .header__info {
    display: none;
    flex-wrap: wrap;
  }
  .header__item {
    margin-right: 40px;
  }
  .tours__tour {
    grid-column: span 2;
  }
  .tours__tour-big {
    grid-column: 0;
    grid-row: 3/4;
  }
  .tours__pic {
    width: 100%;
    border-radius: 15px;
    height: auto;
  }
  .about__subtitle {
    max-width: 700px;
    font-size: 20px;
  }
  .advantages__card {
    grid-column: span 2;
  }
  .services__card-link {
    line-height: 150%;
  }
  .services__card-info {
    padding: 25px 41px 22px 43px;
  }
  .services__card-info-box {
    margin-bottom: 7px;
  }
  .services__card-link {
    display: inline;
    padding-right: 30px;
  }
  .hotels__hotel {
    grid-column: span 3;
    position: relative;
    border-radius: 15px;
  }
  .hotels__more {
    left: 43px;
  }
  .want-tour__wrapper {
    padding: 0;
  }
  .search-box__info {
    margin-bottom: 20px;
  }
  .search-box__submit {
    margin: 0 auto;
  }
  .search-box {
    padding: 25px 20px;
  }
  .contacts__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contacts__info-box:nth-last-child(2) {
    margin-bottom: 30px;
  }
  .contacts__info {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .contacts__info-button-box {
    display: flex;
    justify-content: center;
  }
  .contacts__info-box {
    align-items: center;
  }
  .footer__contacts {
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .header__phone {
    display: none;
  }
  .header__lk {
    margin-left: 0;
  }
  .header__burger {
    display: block;
    margin-left: auto;
  }
  .header__bottom {
    display: block;
    position: fixed;
    right: -767px;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    background: #333333;
    padding: 80px 45px;
    transition: all 0.6s linear;
  }
  .header__list {
    flex-direction: column;
  }
  .header__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .header__link {
    font-size: 35px;
  }
  .header__item {
    margin-bottom: 35px;
  }
  .header__info-link {
    width: 300px;
    text-align: center;
    margin-bottom: 25px;
    padding: 20px;
    font-size: 26px;
  }
  .header__close {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 20;
    top: 40px;
    right: 65px;
  }
  .header__close-line {
    display: block;
    width: 100%;
    height: 2px;
    background: #e1e1e1;
    position: absolute;
    top: 50%;
  }
  .header__close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }
  .header__close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
  .header__bottom_active {
    right: 0px;
  }
  .tours__info {
    bottom: 30px;
  }
  .tours__title {
    font-size: 35px;
  }
  .tours__title-big {
    max-width: 300px;
    font-size: 60px;
    line-height: 49px;
  }
  .services__card {
    grid-column: span 2;
  }
  .services__card-link {
    padding-right: 20px;
  }
  .advantages__card {
    padding: 30px 32px 33px 34px;
  }
  .about__subtitle {
    max-width: 484px;
    font-size: 18px;
  }
  .hotels__hotel {
    grid-column: span 6;
    position: relative;
    border-radius: 15px;
  }
  .hotels__pic_small {
    width: 100%;
  }
  .hotels__pic_big {
    width: 100%;
    height: 500px;
  }
  .hotels__more {
    font-size: 28px;
    padding-right: 20px;
  }
  .search-box {
    flex-direction: column;
    align-content: space-around;
  }
  .search-box__label {
    font-size: 18px;
  }
  .search-box__input {
    font-size: 22px;
  }
  .search-box__submit {
    padding: 17px 37px;
    font-size: 22px;
  }
  .contacts__info {
    margin-right: 0;
  }
  .contacts__info-subtitle {
    font-size: 18px;
  }
  .contacts__info-phone {
    font-size: 18px;
  }
  .contacts__info-mail {
    font-size: 18px;
  }
  .contacts__info-desc {
    font-size: 18px;
  }
  .contacts__info-button {
    font-size: 20px;
  }
}
@media screen and (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .header__logo {
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .header__top {
    justify-content: center;
  }
  .tours__pic {
    height: 270px;
  }
  .tours__pic-big {
    height: 540px;
  }
  .tours__title {
    font-size: 35px;
  }
  .tours__title-big {
    font-size: 62px;
    line-height: 1.2;
  }
  .tours__title-big {
    max-width: 300px;
    font-size: 40px;
    line-height: 1.2;
  }
  .advantages__card {
    grid-column: span 4;
  }
  .hotels__more {
    left: 27px;
  }
  .search-box {
    padding: 40px 20px;
  }
  .contacts__pic {
    height: 315px;
  }
}
@media screen and (max-width: 460px) {
  .sections-title {
    padding-left: 20px;
  }
  .tours__info {
    bottom: 35px;
    left: 25px;
  }
  .tours__subtitle {
    margin-bottom: 17px;
  }
  .tours__title-big {
    font-size: 42px;
    line-height: 1.2;
  }
  .tours__pic-big {
    height: 420px;
  }
  .contacts__info-button {
    padding: 20px;
  }
  .contacts__wrapper {
    padding: 35px;
  }
  .hotels__more {
    display: inline;
    line-height: 1.2;
    font-size: 24px;
  }
  .footer__icons {
    margin-left: 0;
  }
}
@media screen and (max-width: 400px) {
  .tours__title {
    font-size: 30px;
  }
  .tours__info {
    bottom: 25px;
  }
  .tours__title-big {
    max-width: 300px;
    font-size: 40px;
    line-height: 1.2;
  }
  .hotels__more {
    width: 220px;
    line-height: 1.2;
  }
  .contacts__info-text {
    width: 63%;
  }
}
@media screen and (max-width: 375px) {
  .sections-title {
    font-size: 30px;
    padding-left: 20px;
  }
  .tours__pic-big {
    height: 385px;
  }
  .hotels__more {
    width: 195px;
    line-height: 1.2;
  }
  .contacts__info-text {
    width: 63%;
  }
  .contacts__info-title {
    font-size: 18px;
  }
  .header__link {
    font-size: 30px;
    padding: 15px;
  }
  .header__info-link {
    width: 250px;
    line-height: 1.2;
    font-size: 26px;
  }
}

/*# sourceMappingURL=style.css.map */
