@font-face {
    font-family: 'Muller';
    src: local('Muller Medium'), local('MullerMedium'),
        url('MullerMedium.woff2') format('woff2'),
        url('MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Muller';
    src: local('Muller Regular'), local('MullerRegular'),
        url('MullerRegular.woff2') format('woff2'),
        url('MullerRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Muller';
    src: local('Muller Bold'), local('MullerBold'),
        url('MullerBold.woff2') format('woff2'),
        url('MullerBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller ExtraBold'), local('MullerExtraBold'),
        url('MullerExtraBold.woff2') format('woff2'),
        url('MullerExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
